.contenedor{
    
    width: 100%;
    height: 1400px;
    background-color: gray;
}
.encabezado{

    width: 100%;
    height: 150px;
    background-color: mediumslateblue;
}
.menu{

    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
}
.contenedor2{

    width: 100%;
    height: 1200px;
    background-color: rgba(128, 128, 128, 0.863);
    display: flex;
}
.izquierdo{

    width: 20%;
    height: 1200px;
    background-color: gray;
}
.centro{

    width: 60%;
    height: 1200px;
    background-color: white;
}
.derecho{

    width: 20%;
    height: 1200px;
    background-color: gray;
}
.sociales{
    width: 100px;
    height: 98px;
    background-color: beige;
    margin: 2px;
}
.inglés{
    width: 100px;
    height: 98px;
    background-color: hotpink;
    margin: 2px;
}
.matemáticas{
    width: 100px;
    height: 98px;
    background-color: darksalmon;
    margin: 2px;
}
.biología{
    width: 100px;
    height: 98px;
    background-color: blueviolet;
    margin: 2px;
}
.tecnología{
    width: 100px;
    height: 98px;
    background-color: lightskyblue;
    margin: 2px;
}

.carl{
    color: brown;
}

.aportes{
    color: brown;
}

.elegi{
    color: brown;
}
.estadistica{
    color: brown;
}
.importancia{
color: brown;
}
.EJEMPLO{
color: brown;
}

.situacion{
    color: brown;
}
.Gobierno{
    color: brown;
}
.objetivos{
    color: brown;
}.funciones{
    color: brown;
}
.Democracia{
    color: brown;
}
.objetivo{
    color: brown;
}

.objetivo{
    color: brown;
}
.ejercicio{
    color: brown;
}
.energía{
    color: brown;
}
.renovables{
    color: brown;
}
.tipos{
    color: brown;
}
.solar{
    color: brown;
}
.hidraulica{
    color: brown;
}
.mar{
    color: brown;
}
.eólica{
    color: brown;
}
.no{
color: brown;
}
.Tipos{
    color: brown;
}
.petróleo{
    color: brown;
}
.gas{
    color: brown;
}
.carbón{
    color: brown;
}
.enfermedades{
    color: brown;
}
.tipos{
    color: brown;
}
.causas{
    color: brown;
}
.afectados{
    color: brown;
}
.sintomas{
    color: brown;
}
.síntomas{
    color: brown;
}
.tratamiento{
    color: brown;
}
.prevenir{
    color: brown;
}